<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View province</title>
</head>
<body>
<h1>View category: <span th:text="${category.name}"></span></h1>
<a href="/categories">Category list</a>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>View</th>
    </tr>
    <th:block th:each="product : ${blogs}">
        <tr>
            <td th:text="${product.title}"></td>
            <td th:text="${product.author}"></td>
            <td><a th:href="@{/view-product/__${product.id}__}">View</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>